<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
<!-- Welcome to the world of Annotation Config (XML + Annotations) -->
<!-- The bean definitions would be implement with the help of annotations! -->
<!-- SPRING BEANS ARE ALSO CALLED AS COMPONENTS! -->
	<context:component-scan base-package="com.live"></context:component-scan>
</beans>
