<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- Beans are by default Singletons -->
	<!-- define the OracleRepository spring bean -->
	<!-- ProductRepository productRepository = new OracleRepository(); -->

	<!-- accessing the property file -->
	<context:property-placeholder
	location="classpath:product-service.properties"/>
	<bean id="productRepository"
		class="com.live.repository.OracleRepository" />

	<!-- constructor based di -->
	<!-- <bean id="productService" class="com.live.service.ProductServiceImpl"> 
		<constructor-arg index="0" ref="productRepository" /> </bean> -->

	<!-- setter based di -->
	<bean id="productService"
		class="com.live.service.ProductServiceImpl">
		<!-- setProductRepository(ProductRepository productRepository) -->
		<property name="productRepository" ref="productRepository" />
		<property name="location" value="mumbai"></property>
		<!-- from property file -->
		<property name="domainName" value="${domain.name}"></property>
	</bean>

</beans>
